//upto desktop
@media only screen and (min-width: 1280px) {
	html,body{
		overflow-x: hidden;
	}

}
//desktop thông thường
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
	html,body{
		overflow-x: hidden;
	}
	header{
		.navbar{
			width: 100%;
			.menu{
			    width: 100%;
			    ul{
			    	width: 55%;
			    	margin-right: 2%;
			    	li{
			    		margin:auto auto auto 5%;
			    	}
			    }
			}
		}
		.intro{
			.items_orig{
				.circle{
					left: 37%;
				}
			}
		}
	}
	.content_main{
		.main{
			height: 410rem;
			.info_myself{
				margin:20rem 9rem auto 10rem;
				.my_picture_show{
					.frame_picture{
						top: 3rem;
					    left: 1rem;
					}
					.picture{
						top: 1rem;
					    left: 4rem;
					}
				}
			}
			.info{
				height: 775px;
				.item_image{
					.border_image{
						left: 18%;
					}
				}
				.item_des{
					.title_item{
						.cate{
							font-size: 20px;
						}
						h1{
							font-size: 30px;
						}
					}
					.items{
					}
				}
			}
			.info_frontend{
				.html{
				    left: 14%;
				    top: 13%;
				}
				.css{
					left: 14%;
				    top: 45%;
				}
				.js{
					left: 78%;
				    top: 29%;
				}
				.ps{
					left: 78%;
				    top: 63%;
				}
				
			}
			.info_backend{
				.item_image{
					.border_image{
						left: 32%;
					}
				}
				.item_des{	
					.title_item{
						width: 80%;
						height: 20%;
						margin: 0 auto 2rem 6rem;
						.cate{
							font-size: 20px;
						}
						h1{
							font-size: 30px;
						}
					}
					.items{						
						margin:auto auto 2rem 6rem;
						.content{
							width: 85%;
						}
					}
				}
				.item_image_back{
					.php{
						right: 75%;
						top: 35%;
					}
					.laravel{
						right: 75%;
						top: 67%;
					}
					.react{
						right: 10%;
						top: 50%;
					}
					.nodejs{
						right: 10%;
						top: 13%;
					}
				}
				
			}
			.info_my_work{
				display: grid;
				grid-gap: 80px 88px;
				grid-template-columns: auto auto;
				padding: 70px;
				.my_pro{
					width: 400px;
				    height: 600px;
				    perspective: 1000px;
					.tag_pro{
						.tag_pro_back{
							iframe{
								border: .1px solid white;
								width: 90%;
							}
						}
					}
				}
				#message_pro_1{
					clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 50% 75%, 11% 100%, 21% 75%, 0% 75%);
					margin: -10rem auto auto 75rem;
					// width: 450px;
				}
				#message_pro_2{
					clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 49% 75%, 55% 100%, 37% 75%, 0% 75%);
					margin: 58.5rem auto auto -5rem;
					width: 490px;
				}
				#message_pro_3{
					clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 49% 75%, 60% 100%, 37% 75%, 0% 75%);
					margin: 58rem auto auto 51rem;
				}
			}
			.info_contact{
				.item_contact{
					margin:6rem 4rem auto 10rem;
				}
				.item_form{
					margin:1% auto auto 10%;

					.items{
						padding: 5%;
						margin-left: 5%;
						input{
							width: 118%;
						}
					}
					.item_send{
						bottom: 3%;
						left: 45%;
					}
				}
			}
		}
	}
}

//ipad 
@media only screen and (max-width: 1024px) and (min-width: 850px) {
	html,body{
		overflow-x: hidden;
	}
	header{
		.navbar{
			width: 100%;
			.logo{
				.logo_item{
					left: 2rem;
				}
			}
			.menu{
			    width: 100%;
			    ul{
			    	width: 75%;
			    	margin-right: 2rem;
			    	li{
			    		
			    	}
			    }
			}
		}
		.intro{
			.items_orig{
				.circle{
					left:25%;
				}
			}
			
		}
	}
	.content_main{
		.main{
			height: 415rem;
			.info_myself{
				width: 90%;
				margin:20rem 4rem auto 4rem;
				.my_picture_show{
					.frame_picture{
						top: 3rem;
					    left: 1rem;
					}
					.picture{
						top: 1rem;
					    left: 4rem;
					}
				}
			}
			.info{
				height: 1020px;
				display: flex;
				flex-direction: column;
				.item_image{
					width: 100%;
					height: 45%;
					.border_image{
						width: 65%;
						height: 345px;
						left: 18%;
					}
				}
				.item_des{
					width: 100%;
					height: 60%;
					.title_item{
						.cate{
							margin:auto auto 2rem 4rem;
						}
						h1{
							font-size: 30px;
							margin:auto auto 2rem 4rem;
						}
					}
					.items{
						margin:auto auto auto 6rem;
						width: 85%;
					}
				}
			}
			.info_frontend{
				.html{
				    left: 15%;
				    top: 18%;
				}
				.css{
					left: 15%;
				    top: 50%;
				}
				.ps{
					left: 80.5%;
				    top: 34%;
				}
				
				.js{
					left: 80.5%;
				    top: 71%;
				}
			}
			.info_backend{
				.item_image{
					.border_image{
						left: 27%;
					}
				}
				.item_des{	
					.title_item{
						width: 85%;
						height: 20%;
						margin: 0 auto 2rem 6rem;
						.cate{
							margin:auto auto 2rem 2rem;
						}
						h1{
							margin:auto auto 2rem 2rem;
						}
					}
					.items{						
						margin:auto auto auto 6rem;
						.content{
							width: 85%;
						}
					}
				}
				.php{
					right: 77.5% !important;
					top: 36% !important;
				}
				.laravel{
					right: 77.5% !important;
					top: 72% !important;
				}
				.react{
					right: 12.5% !important;
					top: 51% !important;
				}
				.nodejs{
					right: 12.5% !important;
					top: 15% !important;
				}
			}
			.info_my_work{
				display: grid;
				grid-gap: 9% 21%;
				grid-template-columns: auto auto;
				padding-right:3%;
				margin-bottom: 3%;
				padding-left: 3%;
				padding-top: 5rem;
				.my_pro{
					width: 320px;
				    height: 400px;
				    perspective: 1000px;
				    .tag_pro{
				    	.tag_pro_front{
				    		.title{
				    			bottom: 2rem;
				    		}
				    	}
						
						.tag_pro_back{
							iframe{
								border: .1px solid white;
								width: 90%;
								height: 200px;
							}
						}
				    }
				    .block_1{
				    	h1{
				    		font-size: 25px;
				    	}
				    	p{
				    		font-size: 15px;
				    	}
				    }
				    .block_2{
				    	h3{
				    		margin-top: 1rem;
				    	}
				    	span{
				    		font-size: 15px;
				    	}
				    }
				}
				#message_pro_1{
					margin: -10rem auto auto 11rem;
				}
				#message_pro_2{
					clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 33% 75%, 8% 100%, 19% 75%, 0% 75%);
					margin: 34.5rem auto auto 12rem;
					width: 490px;
				}
				#message_pro_3{
					clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 49% 75%, 60% 100%, 37% 75%, 0% 75%);
					margin: 35rem auto auto 21rem;
				}
			}
			.info_contact{
				border-bottom: 3rem;
				.item_contact{
					margin:6rem 4rem auto 10rem;
				}
				.item_form{
					margin:1rem 4rem auto 10rem;
					.items{
						padding: 5%;
						margin-left: 5%;
						input{
							width: 118%;
						}
					}
					.item_send{
						bottom: 3%;
						left: 45%;
					}
				}
			}
		}
	}
}

//mobile
@media only screen and (max-width: 850px) and (min-width: 630px) {
	html,body{
		overflow-x: hidden;
	}
	header{
		height: 50rem;
		.navbar{
			width: 100%;
			.logo{
				.logo_item{
					left: 2rem;
				}
			}
			.menu{
			    ul{
			    	margin:0;
			    }
			    .line {
				    width: 30px;
				    height: 3px;
				    background: white;
				    margin: 5px;
				  }
				nav {
				    position: relative;
				}

				.hamburger {
				    position: absolute;
				    cursor: pointer;
				    right: 5%;
				    top: 50%;
				    transform: translate(-5%, -50%);
				    z-index: 2;
				}

				.nav-links {
				    position: fixed;
				    background: var(--gray-heavy);
				    top: 0;
				    right: 0;
				    width: 100%;
		            height: 65%;
				    flex-direction: column;
				    clip-path: circle(100px at 90% -10%);
				    -webkit-clip-path: circle(100px at 100% -20%);
				    transition: all 1s ease-out;
				    pointer-events: none;
				    text-align: center;
				    li{
				    	margin: 3rem auto 1rem auto;
				    	width: 50%;
				    	height: 15%;
				    }
				    li:hover{
				    	background-color: var(--orange-light);
				    }
				    
				}
				.nav-links.open {
				    clip-path: circle(1000px at 90% -10%);
				    -webkit-clip-path: circle(1000px at 90% -10%);
				    pointer-events: all;
				}
				.landing {
				    flex-direction: column;
				}
				.nav-links li {
				    opacity: 0;
				}
				.nav-links li a {
				    font-size: 25px;
				}
				.nav-links li:nth-child(1) {
				    transition: all 0.5s ease 0.2s;
				}
				.nav-links li:nth-child(2) {
				    transition: all 0.5s ease 0.4s;
				}
				.nav-links li:nth-child(3) {
				    transition: all 0.5s ease 0.6s;
				}
				li.fade {
				   opacity: 1;
				}
			}
			
			//------
		}
		.intro{
			.items_orig{
				.circle{
					left: 23%;
					width: 25rem;
				    height: 25rem;
				    .about{
				    	.ab_name{
				    		font-size: 20px;
				    		margin:-1.5rem 2.5rem 1.5rem 0rem;
				    	}
				    	.ab_des{
				    		font-size: 15px;
				    		margin:2rem 3rem 3rem 2.5rem;
				    	}
				    	.ab_btn{
				    		font-size: 15px;
							margin-top:2rem;
							margin-left: 2rem;
							.about_me{
								font-size: 8px;
							}
							.down_cv{
								font-size: 8px;
							}
				    	}
				    }
				}
			}
			
		}
	}
	.content_main{
		.main{
			height: 670rem;
			.info_myself{
				width: 90%;
				height: 85rem;
				margin:20rem 4rem auto 2rem;
				display: flex;
				flex-direction: column;
				.my_picture_show{
					width: 100%;
					height: 45%;
					margin:1rem;
					.frame_picture{
						top: 6rem;
					    left: 30%;
					    width: 25rem;
					    height:30rem;
					}
					.picture{
						top: 3rem;
					    left: 35%;
					    width: 25rem;
					    height:30rem;
					}
				}
				.info_show{
					text-align: center;
					width: 100%;
					height: 40%;
					margin:1rem;
				}
			}
			.info{
				height: 130rem;
				display: flex;
				flex-direction: column;
				.item_image{
					width: 100%;
					height: 40%;
					.border_image{
						width: 65%;
						height: 430px;
						left: 18%;
					}
				}
				.item_des{
					width: 100%;
					height: 65%;
					.title_item{
						margin-left: 1rem;
						width: 95%;
						.cate{
							margin:auto auto 2rem 4rem;
						}
						h1{
							font-size: 30px;
							margin:auto auto 2rem 4rem;
						}
					}
					.items{
						margin:auto auto auto 1rem;
						width: 95%;
					}
				}
			}
			.info_frontend{
				.html{
				    left: 15%;
				    top: 31rem;
				}
				.ps{
					right: 14%;
				}
				.css{
					left: 15%;
					bottom: 35rem;
				}
				.js{
					right: 14%;
					top: 37rem;
				}
			}
			.info_backend{
				.item_image{
					.border_image{
						left:28%;
					}
				}
				.item_des{	
					.title_item{
						width: 95%;
						height: 20%;
						margin: 0 auto 2rem 1rem;
						.cate{
							margin:auto auto 2rem 2rem;
						}
						h1{
							margin:auto auto 2rem 2rem;
						}
					}
					.items{						
						margin:auto auto auto 1rem;
						.content{
							width: 95%;
						}
					}
				}
				.php{
					right: 77.5% !important;
					top: 36% !important;
				}
				.laravel{
					right: 77.5% !important;
					top: 72% !important;
				}
				.react{
					right: 12.5% !important;
					top: 51% !important;
				}
				.nodejs{
					right: 12.5% !important;
					top: 15% !important;
				}
			}
			.info_my_work{
				display: grid;
				grid-gap: 5%;
				grid-template-columns: auto;
				padding: 20%;
				.my_pro{
					width: 100%;
				    height: 500px;
				    perspective: 1000px;
				    .tag_pro{
				    	.tag_pro_front{
				    		.title{
				    			bottom: 2rem;
				    		}
				    	}
				    }
				    .block_1{
				    	h1{
				    		font-size: 25px;
				    	}
				    	p{
				    		font-size: 15px;
				    	}
				    }
				    .block_2{
				    	h3{
				    		margin-top: 1rem;
				    	}
				    	span{
				    		font-size: 15px;
				    	}
				    }
				}
				#message_pro_1{
					margin: 50rem auto auto 3%;
					clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 59% 75%, 45% 100%, 50% 75%, 0% 75%);
					width: 460px;
				}
				#message_pro_2{
					clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 59% 75%, 52% 100%, 50% 75%, 0% 75%);
					margin: 110rem auto auto -1%;
					width: 460px;
				}
				#message_pro_3{
					clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 51% 75%, 52% 100%, 42% 75%, 0% 75%);
					margin: 170rem auto auto -1%;
					width: 460px;
				}
			}
			.info_contact{
				margin-top: 20rem;
				margin-bottom: 10rem;
				height: 600px;
				.item_contact{
					margin:6% auto auto 10%;
				}
				.item_form{
					margin:1% auto auto 10%;
					display: flex;
					flex-direction: column;
					height: 70%;
					.items{
						margin:0px;
						input{
							width: 97%;
						}
					}
					.item_send{
						left: 44%;
					}
				}
			}
		}
	}
	footer{
		margin-top: 10rem;
	}
}

//mobile-middle
@media only screen and (max-width: 630px) and (min-width: 480px) {
	html,body{
		overflow-x: hidden;
	}
	header{
		height: 50rem;
		.navbar{
			width: 100%;
			.logo{
				.logo_item{
					left: 2rem;
				}
			}
			.menu{
			    ul{
			    	margin:0;
			    }
			    .line {
				    width: 30px;
				    height: 3px;
				    background: white;
				    margin: 5px;
				  }
				nav {
				    position: relative;
				}

				.hamburger {
				    position: absolute;
				    cursor: pointer;
				    right: 5%;
				    top: 50%;
				    transform: translate(-5%, -50%);
				    z-index: 2;
				}

				.nav-links {
				    position: fixed;
				    background: var(--gray-heavy);
				    top: 0;
				    right: 0;
				    width: 100%;
		            height: 65%;
				    flex-direction: column;
				    clip-path: circle(100px at 90% -10%);
				    -webkit-clip-path: circle(100px at 100% -20%);
				    transition: all 1s ease-out;
				    pointer-events: none;
				    text-align: center;
				    li{
				    	margin: 3rem auto 1rem auto;
				    	width: 50%;
				    	height: 15%;
				    }
				    li:hover{
				    	background-color: var(--orange-light);
				    }
				    
				}
				.nav-links.open {
				    clip-path: circle(1000px at 90% -10%);
				    -webkit-clip-path: circle(1000px at 90% -10%);
				    pointer-events: all;
				}
				.landing {
				    flex-direction: column;
				}
				.nav-links li {
				    opacity: 0;
				}
				.nav-links li a {
				    font-size: 25px;
				}
				.nav-links li:nth-child(1) {
				    transition: all 0.5s ease 0.2s;
				}
				.nav-links li:nth-child(2) {
				    transition: all 0.5s ease 0.4s;
				}
				.nav-links li:nth-child(3) {
				    transition: all 0.5s ease 0.6s;
				}
				li.fade {
				   opacity: 1;
				}
			}
			
			//------
		}
		.intro{
			.items_orig{
				.circle{
					left: 23%;
					width: 25rem;
				    height: 25rem;
				    .about{
				    	.ab_name{
				    		font-size: 20px;
				    		margin:-1.5rem 2.5rem 1.5rem 0rem;
				    	}
				    	.ab_des{
				    		font-size: 15px;
				    		margin:2rem 3rem 3rem 2.5rem;
				    	}
				    	.ab_btn{
				    		font-size: 15px;
							margin-top:2rem;
							margin-left: 2rem;
							.about_me{
								font-size: 8px;
							}
							.down_cv{
								font-size: 8px;
							}
				    	}
				    }
				}
			}
			
		}
	}
	.content_main{
		.main{
			height: 655rem;
			.info_myself{
				width: 96%;
				height: 80rem;
				margin:20% auto auto 1%;
				display: flex;
				flex-direction: column;
				.my_picture_show{
					width: 98%;
					height: 50%;
					margin:1%;
					.frame_picture{
						top: 6rem;
					    left: 30%;
					    width: 25rem;
					    height:30rem;
					}
					.picture{
						top: 3rem;
					    left: 35%;
					    width: 25rem;
					    height:30rem;
					}
				}
				.info_show{
					text-align: center;
					width: 98%;
					height: 50%;
					margin:1%;
				}
			}
			.info{
				height: 130rem;
				display: flex;
				flex-direction: column;
				margin-top: 1rem;
				.item_image{
					width: 100%;
					height: 40%;
					.border_image{
						width: 65%;
						height: 430px;
						left: 18%;
					}
				}
				.item_des{
					width: 100%;
					height: 65%;
					.title_item{
						margin-left: 1rem;
						width: 95%;
						.cate{
							margin:auto auto 2rem 4rem;
						}
						h1{
							font-size: 30px;
							margin:auto auto 2rem 4rem;
						}
					}
					.items{
						margin:auto auto auto 1rem;
						width: 95%;
					}
				}
			}
			.info_frontend{
				.html{
				    left: 14%;
				    top: 15%;
				}
				.css{
					left: 14%;
				    top: 53%;
				}
				.ps{
					left: 79%;
					top:34%;
				}
				
				.js{
					left: 79%;
					top:75%;
				}
			}
			.info_backend{
				.item_image{
					.border_image{
						left:28%;
					}
				}
				.item_des{	
					.title_item{
						width: 95%;
						height: 20%;
						margin: 0 auto 2rem 1rem;
						.cate{
							margin:auto auto 2rem 2rem;
						}
						h1{
							margin:auto auto 2rem 2rem;
						}
					}
					.items{						
						margin:auto auto auto 1rem;
						.content{
							width: 95%;
						}
					}
				}
				.php{
					right: 79% !important;
					top: 40% !important;
				}
				.laravel{
					right: 79% !important;
					top: 72% !important;
				}
				.react{
					right: 14% !important;
					top: 58% !important;
				}
				.nodejs{
					right: 14% !important;
					top: 21% !important;
				}
			}
			.info_my_work{
				display: grid;
				grid-gap: 5%;
				grid-template-columns: auto;
				padding: 11%;
				.my_pro{
					width: 100%;
				    height: 500px;
				    perspective: 1000px;
				    .tag_pro{
				    	.tag_pro_front{
				    		.title{
				    			bottom: 2rem;
				    		}
				    	}
				    }
				    .block_1{
				    	h1{
				    		font-size: 25px;
				    	}
				    	p{
				    		font-size: 15px;
				    	}
				    }
				    .block_2{
				    	h3{
				    		margin-top: 1rem;
				    	}
				    	span{
				    		font-size: 15px;
				    	}
				    }
				}
				#message_pro_1{
					margin: 50rem auto auto 5%;
					clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 59% 75%, 45% 100%, 50% 75%, 0% 75%);
					width: 420px;
				}
				#message_pro_2{
					clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 59% 75%, 52% 100%, 50% 75%, 0% 75%);
					margin: 110rem auto auto 1%;
					width: 420px;
				}
				#message_pro_3{
					clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 51% 75%, 52% 100%, 42% 75%, 0% 75%);
					margin: 170rem auto auto 1%;
					width: 420px;
				}
			}
			.info_contact{
				margin-top: 25rem;
				height: 600px;
				.item_contact{
					margin:6rem 4rem auto 5rem;
				}
				.item_form{
					margin:1% auto auto 5%;
					display: flex;
					flex-direction: column;
					height: 70%;
					width: 90%;
					.items{
						margin:0px;
						input{
							width: 98%;
						}
					}
					.item_send{
						left: 42%;
					}
				}
			}
		}
	}
}

//mobile mini
@media only screen and (max-width: 480px) {
	html,body{
		overflow-x: hidden;
	}
	header{
		height: 50rem;
		.navbar{
			width: 100%;
			.logo{
				.logo_item{
					left: 2rem;
				}
			}
			.menu{
			    ul{
			    	margin:0;
			    }
			    .line {
				    width: 30px;
				    height: 3px;
				    background: white;
				    margin: 5px;
				  }
				nav {
				    position: relative;
				}

				.hamburger {
				    position: absolute;
				    cursor: pointer;
				    right: 5%;
				    top: 50%;
				    transform: translate(-5%, -50%);
				    z-index: 2;
				}

				.nav-links {
				    position: fixed;
				    background: var(--gray-heavy);
				    top: 0;
				    right: 0;
				    width: 100%;
		            height: 65%;
				    flex-direction: column;
				    clip-path: circle(100px at 90% -10%);
				    -webkit-clip-path: circle(100px at 100% -20%);
				    transition: all 1s ease-out;
				    pointer-events: none;
				    text-align: center;
				    li{
				    	margin: 3rem auto 1rem auto;
				    	width: 50%;
				    	height: 15%;
				    }
				    li:hover{
				    	background-color: var(--orange-light);
				    }
				    
				}
				.nav-links.open {
				    clip-path: circle(1000px at 90% -10%);
				    -webkit-clip-path: circle(1000px at 90% -10%);
				    pointer-events: all;
				}
				.landing {
				    flex-direction: column;
				}
				.nav-links li {
				    opacity: 0;
				}
				.nav-links li a {
				    font-size: 25px;
				}
				.nav-links li:nth-child(1) {
				    transition: all 0.5s ease 0.2s;
				}
				.nav-links li:nth-child(2) {
				    transition: all 0.5s ease 0.4s;
				}
				.nav-links li:nth-child(3) {
				    transition: all 0.5s ease 0.6s;
				}
				li.fade {
				   opacity: 1;
				}
			}
			
			//------
		}
		.intro{
			.items_orig{
				.circle{
					left: 23%;
					width: 25rem;
				    height: 25rem;
				    .about{
				    	.ab_name{
				    		font-size: 20px;
				    		margin:-1.5rem 2.5rem 1.5rem 0rem;
				    	}
				    	.ab_des{
				    		font-size: 15px;
				    		margin:2rem 3rem 3rem 2.5rem;
				    	}
				    	.ab_btn{
				    		font-size: 15px;
							margin-top:2rem;
							margin-left: 2rem;
							.about_me{
								font-size: 8px;
							}
							.down_cv{
								font-size: 8px;
							}
				    	}
				    }
				}
			}
			
		}
	}
	.content_main{
		.main{
			height: 670rem;
			.info_myself{
				width: 90%;
				height: 85rem;
				margin:20rem 4rem auto 2rem;
				display: flex;
				flex-direction: column;
				.my_picture_show{
					width: 93%;
					height: 45%;
					margin:1rem;
					.frame_picture{
						top: 6rem;
					    left: 5rem;
					    width: 25rem;
					    height:30rem;
					}
					.picture{
						top: 3rem;
					    left: 9rem;
					    width: 25rem;
					    height:30rem;
					}
				}
				.info_show{
					width: 93%;
					height: 40%;
					margin:1rem;
				}
			}
			.info{
				height: 130rem;
				display: flex;
				flex-direction: column;
				.item_image{
					width: 100%;
					height: 40%;
					.border_image{
						width: 65%;
						height: 430px;
						left: 18%;
					}
				}
				.item_des{
					width: 100%;
					height: 65%;
					.title_item{
						margin-left: 1rem;
						width: 95%;
						.cate{
							margin:auto auto 2rem 4rem;
						}
						h1{
							font-size: 30px;
							margin:auto auto 2rem 4rem;
						}
					}
					.items{
						margin:auto auto auto 1rem;
						width: 95%;
					}
				}
			}
			.info_frontend{
				margin-top: 2rem;
				.html{
				    left: 13%;
				    top: 18%;
				}
				.css{
					left: 13%;
				    top: 56%;
				}
				.ps{
					left: 77%;
				    top: 38%;
				}
				
				.js{
					left: 77%;
				    top: 73%;
				}
			}
			.info_backend{
				.item_image{
					.border_image{
						left:32%;
					}
				}
				.item_des{	
					.title_item{
						width: 95%;
						height: 20%;
						margin: 0 auto 2rem 1rem;
						.cate{
							margin:auto auto 2rem 2rem;
						}
						h1{
							margin:auto auto 2rem 2rem;
						}
					}
					.items{						
						margin:auto auto auto 1rem;
						.content{
							width: 95%;
						}
					}
				}
				.php{
					right: 77.5% !important;
					top: 35% !important;
				}
				.laravel{
					right: 77.5% !important;
					top: 74% !important;
				}
				.react{
					right: 13.5% !important;
					top: 55% !important;
				}
				.nodejs{
					right: 13.5% !important;
					top: 15% !important;
				}
			}
			.info_my_work{
				display: grid;
				grid-gap: 5%;
				grid-template-columns: auto;
				padding: 5%;
				.my_pro{
					width: 100%;
				    height: 500px;
				    perspective: 1000px;
				    .tag_pro{
				    	.tag_pro_front{
				    		.title{
				    			bottom: 2rem;
				    		}
				    	}
				    }
				    .block_1{
				    	h1{
				    		font-size: 25px;
				    	}
				    	p{
				    		font-size: 15px;
				    	}
				    }
				    .block_2{
				    	h3{
				    		margin-top: 1rem;
				    	}
				    	span{
				    		font-size: 15px;
				    	}
				    }
				}
				#message_pro_1{
					margin: 50rem auto auto -2%;
					clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 59% 75%, 45% 100%, 50% 75%, 0% 75%);
					width: 460px;
				}
				#message_pro_2{
					clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 59% 75%, 52% 100%, 50% 75%, 0% 75%);
					margin: 110rem auto auto -2%;
					width: 460px;
				}
				#message_pro_3{
					clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 51% 75%, 52% 100%, 42% 75%, 0% 75%);
					margin: 170rem auto auto -2%;
					width: 460px;
				}
			}
			.info_contact{
				margin-top: 30rem;
				height: 600px;
				.item_contact{
					margin:6rem 4rem auto 5rem;
				}
				.item_form{
					margin:1rem 4rem auto 5rem;
					display: flex;
					flex-direction: column;
					height: 70%;
					.items{
						margin:0px;
						input{
							width: 95%;
						}
					}
					.item_send{
						left: 35%;
					}
				}
			}
		}
	}
}